.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    border: 0;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 3vh;
}
h3{
    font-size: 2vh;
}

#header{
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    overflow: hidden;
    height: 10vh;
}
#header h1{
    margin-left: 3vh;
    color: aliceblue;
}
#header h2:first-of-type{
    margin-left:auto;
    padding-right: 3vh;
    color: aliceblue;
}
#main{
    background-color: aliceblue;
    height: 85vh;
    overflow: hidden;
}
#player-groups{
    width: 20vw;
    margin-left: 3vh;
    overflow: hidden;
}
#player-groups ul{
    margin-top: 1.5vh;
    padding: 0;
    list-style-type: none;
}
#player-groups h3{
    color: #1e1e1e;
    text-align: center;
}
#player-groups input{
    width: 100%;
    box-sizing: border-box;
}
#player-groups ul li{
    font-size: 1.5vh;
}

#footer{
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    height: 5vh;
    overflow: hidden;
}
#footer h3{
    margin-left: 3vh;
    color: aliceblue;
}